@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@media (max-width: 568px){

#container{
    margin:0 auto 0 auto;
    width: 550px;
    padding:0px ;

  }
body{
  background:url(../photos/symphony.png);
  margin-top:70px;
}

header{
    text-align:center;
    color:black;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
  }

h1{
  margin-bottom:0px;
}


}
