@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@media (max-width: 320px){
  /* Main */

      body{
        font-size: 22px;
      }

      #container{
        width: 300px;
        padding:0px;
      }

      section{
        margin-top:10px;
        margin-bottom:10px;
        }

      #resume section{
        border:none;
        border-bottom:2px solid grey;
        }

      #aboutme{
        width: 260px;
        padding: 20px;
        margin-top:10px;
        margin-bottom:10px;
        }


  /* First Section */

      #top{
        margin-bottom:0px;
      }
      header{
        height: 35px;
      }

      h1{
        font-size: 20px;
      }

  /* Navigation */

      nav{
        width:280px;
      }

      nav ul{
        width: 300px;
      }

      nav li {
        padding:0px;
      }


      nav a{
          width:70px;
        }

      nav a:hover, .active{
          font-size:20px;
        }




  /* Information Sections */
      p{
        line-height:24px;
      }


  /* Headings */
      h2{
        font-size: 26px;
        margin-bottom:5px;
      }

      h4{
        font-size:22px;
        line-height:22px;
      }


  /*Lists */

      li{
        line-height:22px;
      }


  /* Links */
      main a{
        font-size:22px;
            }

  /*Index*/
  #index{
      width: 300px;
      padding:0px;
    }

  .indexbody{
      margin-top:150px;
    }

  .indexh1{
      font-size: 40px;
    }


  /* About Image */
    #image {
      float: none;
      margin: 0px auto 20px auto;
    }


  /*Contact*/
    #cinfo{
      height:auto;
      margin: 0px auto;
      padding-top:0px;

    }

    #cinfo article{
      height:auto;
      float:none;
      margin:10px auto;
    }

    /* Photos */
      #photocontainer{
        width:300px;
        margin:0 auto;
      }

      #photos{
        padding:0px;
      }

      .long{
        display:none;
      }

      #photos img{
        height:290px;
        width:290px;
        margin:5px;
      }
}
