@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* Main */

    body{
      background:white;
      font-family: "Open Sans Condensed",sans-serif;
      font-size: 18px;
      color: black;
    }

    #container{
      margin:0 auto 0 auto;
      width: 800px;
      padding:0 20px ;
    }

    section{
      background:white;
      padding:20px;
      margin-top:20px;
      margin-bottom:20px;
      }

    #resume section{
      border:4px solid grey;
      }


/* First Section */

    #top{
      padding:0px;
      background:none;
      border:none;
      margin-top: 0px;
      height:80px;
    }

    header{
      text-align:center;
      height: 50px;

    }

    h1{
      font-family:'Pacifico', cursive;
      font-style:bold;
      margin: 0px;
      font-size: 30px;
    }

/* Navigation */

    nav{
      text-align:center;
      padding: 8px 0px;
      height:20px;
      margin: 0 auto 0 auto;
      width:750px;

    }

    nav ul{
      list-style-type: none;
      margin:0px auto;
      height:20px;
      width: 403px;
      padding:0px;
    }

    nav li {
      text-align:center;
      margin:0 auto 0 auto;
      float: left;
      border-right:1px solid black;
      padding:0px 10px;

    }

    nav li:last-child{
      text-align:center;
      border:none;
      float: left;
    }

    nav a{
        display:block;
        width:80px;
        height:20px;
        font-style:normal;
        color: black;
        font-size:16px;
        text-decoration:none;
        padding:0px;
        margin:auto;
      }

    nav a:hover, .active{
          color:rgb(28,156,181);
          font-size:25px;
        }




/* Information Sections */
    article{
      margin:10px
    }

    p{
      line-height:20px;
      margin:1px;
      padding-left:10px;
    }


/* Headings */
    h2{
      font-style:bold;
      margin-top: 5px;
      font-size:20px;
      line-height:10px;

    }

    h3{
      font-size:18px;
      line-height:20px;
      margin:3px;
      margin-left:0px;
    }

    h3 a{
      font-size:18px;
      line-height:20px;
      margin:3px;
    }

    h4{
      line-height:20px;
      margin:2px;
    }


/*Lists */
    ul{
      margin:1px;
    }

    li{
      line-height:20px;
      margin:1px;
    }


/* Links */
    main a{
      display:block;*/
      font-style:normal;
      color: black;
      font-size:18px;
      text-decoration:none;
      padding:0px;
          }

    main a:hover{
      color:rgb(28,156,181);

          }
/*Index*/
#index{
    margin:0 auto 0 auto;
    width: 800px;
    padding:0 20px ;

  }

.indexbody{
  background:url(../photos/symphony.png);
  margin-top:150px;
}

.indexheader{
  height:160px;
  }

.indexh1{
  text-align:center;
  color:black;
  font-family: 'Pacifico', cursive;
  font-size: 90px;
  margin-bottom:0px;
}

/* About Image */
  #image {
    float:left;
  	width: 200px;
  	height: 200px;
  	background: url(../photos/me.jpg);
  	-moz-border-radius: 125px;
  	-webkit-border-radius: 125px;
  	border-radius: 125px;
    border: 1px solid black;
    margin: 0px 70px 0px 0px;
  }


/*Contact*/
  #cinfo{
    height:170px;
    padding:10px 20px;
    margin: 20px auto;
  }

  #cinfo article{
    display:block;
    width:230px;
    height:105px;
    float:left;
    text-align:center;
  }
  #cinfo ul{
    list-style-type: none;
    width:162px;
    height:35px;
    padding:0px;
    margin:0px auto;
  }

  #cinfo li{
    float: left;
    padding:10px;
  }


  /* Photos */
    #photocontainer{
      width:800px;
      margin:0 auto;
    }

    #photos{
      padding:30px 0px 0px 0px;
      margin-top:20px;
      margin-bottom:20px;
    }


    #photos img{
      margin:11px;
      float: left;
      border: 1px solid black;
    }
