@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

#container{
  background:white;
  border: 10px solid grey;
  margin:0 auto 0 auto;
  width: 800px;
  padding:0 20px ;

}

body{
  background:url(http://www.hdwallsource.com/img/2014/5/light-blue-wallpaper-7837-8130-hd-wallpapers.jpg);
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 18px;
  color: black;
}

header{
  text-align:center;
}


nav{
  text-align:center;


}

nav li {
  text-align:center;
  margin:0px auto;
  display:inline;
  border-right:1px solid grey;
  padding:1px;
}

nav li:last-child{
  border:none;
}

section{
  background:rgb(216,250,229);
  padding:20px;
  border:5px solid grey;
  margin-top:20px;
  margin-bottom:20px;

}

article{
  margin:10px
}

h1{
  font-family:'Shadows Into Light', cursive;
  font-style:bold;
  margin: 0px;
  font-size: 60px;
}

h2{
  font-family:'Shadows Into Light', cursive;
  font-style:bold;
  margin-top: 5px;
  font-size:30px;
  line-height:10px;

}

h3{
  font-size:18px;
  line-height:20px;
  margin:3px;
  margin-left:0px;
}

h3 a{
  font-size:18px;
  line-height:20px;
  margin:3px;
}

h4{
  line-height:20px;
  margin:2px;
}

p{
  line-height:20px;
  margin:1px;
}

ul{
  margin:1px;
}

li{
  line-height:20px;
  margin:1px;
}

a, a:hover{
  color:rgb(28,156,181);
  font-size:22px;


}

a{
  font-style:normal;
  color: black;
  font-size:18px;
  text-decoration:none;
  padding:10px;
}
